<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/heroic-features.css">
    <link rel="stylesheet" href="/stylesheets/submitspace.css">
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Co-workspace</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav pull-right">
          <% if (user.local.email) { %>
            <li><a href="#" class="pull-right">Welcome <%= user.local.email %></a></li>
            <li><a href="/logout" class="pull-right">Logout</a></li>
          <% } else { %>
            <li><a href="/login" class="pull-right">Login</a></li>
            <li><a href="/signup" class="pull-right">Register</a></li>
          <% } %> 
          </ul>
        </div>
        <!-- /.navbar-collapse-->
      </div>
      <!-- /.container-->
    </nav>
    <div class="container">
      <div class=row">
          <h1 style="text-align:center"> Submit your office space </h1>
      </div>

      <div class="row">
       <form role="form" id="form1">
            <div class="col-md-6">
              <div ng-controller="FileUploadCtrl">
                  <div class="row">
                  <label for="fileToUpload">Select a File to Upload</label><br />
                  <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
                  </div>
            <div id="dropbox" class="dropbox" ng-class="dropClass"><span>{{dropText}}</span></div>
            <div ng-show="files.length">
                <div ng-repeat="file in files.slice(0)">
                    <span>{{file.webkitRelativePath || file.name}}</span>
                    (<span ng-switch="file.size > 1024*1024">
                        <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                        <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                    </span>)
            </div>
            <input type="button" ng-click="uploadFile()" value="Upload" />
            <div ng-show="progressVisible">
                <div class="percent">{{progress}}%</div>
                <div class="progress-bar">
                    <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                </div>
            </div>
          </div>
          <br>

                <div class="form-group">
                  <label> Open from (time) </label>
                  <input id="exampleInputPassword3" type="text" placeholder="Open from (time)"  name="field4" class="form-control">
                </div>
                 <div class="form-group">
                  <label> Price / day / person </label>
                  <input id="exampleInputPassword4" type="text" placeholder="Price / day / person"  name="field5" class="form-control">
                </div>
                 <div class="form-group">
                  <label> Number of desks available </label>
                  <input id="exampleInputPassword5" type="text" placeholder="Number of desks available"  name="field6" class="form-control">
                </div>
                <div class="form-group">
                  <label> Location  </label>
                  <input id="exampleInputPassword5" type="text" placeholder="Location"  name="field6" class="form-control">
                </div>
                <div class="form-group">
                  <label> Select Dates </label>
                  <input id="exampleInputPassword5" type="text" placeholder="Select dates"  name="field7" class="form-control">
                </div>
                
                 <div class="form-group">
                  <a type="submit" id="submit" class="btn btn-success">Submit</a>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Facilities</h3>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="field8">Wifi/internet
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="field9">Desk
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="field10">Laptop/workstation
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="field11">Whiteboard
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="field12">Meeting room
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="field13">Drinking water
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="field14">AC
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="field15">Toilet
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox">Accessible to disabled
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox">Internship / Job
                      </label>
                    </div>
          </div>
       </form>
      </div>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright © Findaspace 2014</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="/javascripts/jquery-1.8.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"> </script>
    <script src="/javascripts/submitspace.js"></script>
    
  </body>
</html>